.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  background-color: black;
  color: white;
}
